<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Charlene Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

</head>
<body>
 <div class="jumbotron">
  <h1 class="display-3">Welcome to Charlene's Application</h1>
  <p class="lead">This is the externally facing events site.</p>
  <hr class="my-2">
  <p>It uses utility classes for typography and
     spacing to space content out within the larger container.</p>
  

<table class="table table-responsive">
  <thead>
    <tr>
      <th >Feedback</th>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>#Likes</th>
    </tr>
  </thead>
  <tbody>
    {{{body}}}
  </tbody>
</div>
<div class="row">
 <div class="col-md-1">
    <h2>Add an event</h2>    
 </div>
 <div class="col-md-3">
    <form action="/event" method="post">
       title: <input class="form-control" name="title" type="text" /> <br />
       description: <input class="form-control" name="description" type="text" /> <br />
       location: <input class="form-control" name="location" type="text" /> <br />
       <br />
        <input class="btn btn-primary" type="submit" name="submit" value="submit" />
    </form>
 </div> 
   
  </div>
</body>
</html>