<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Charlene Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

</head>
<body>
 <div class="jumbotron">
  <h1 class="display-3">Welcome to Charsoft's Application</h1>
  <p class="lead">This is the externally facing events site.</p>
  <hr class="my-2">
  <p>Modified the class example to leverage Bootstrap and Fontawesome because I couldn't help myself.</p>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#eventModal">
 <i class="fas fa-plus-circle"></i>
 Add a new event
</button>


<div class="card-columns">
  
    {{{body}}}
  
</div>

<!-- Modal -->
<div class="modal" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <form action="/event" method="post">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">New Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row col-md-11">

                title: <input class="form-control" name="title" type="text" /> <br />
                description: <input class="form-control" name="description" type="text" /> <br />
                location: <input class="form-control" name="location" type="text" /> <br />
                <br />
                    
        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <!--<input class="btn btn-primary" type="submit" name="submit" value="submit" />-->
        <button class="btn btn-primary" type="submit" name="submit">Submit</button>
       
      </div>
    </div>
 </form>
</div>


</body>
</html>